:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
  white-space: pre;
}
.uk-pagination > li > a {
  font-size: .7rem;
}
ul.uk-pagination li.uk-active a {
  background: lightblue;
}
.frontpage-view .views-row.uk-grid {
  margin-bottom: 2.5em;
}
.frontpage-view {
  h2 {
    margin-top: 1rem;
  }
  .created.left {
    color: #a5a5a5;
    font-family: 'Quicksand', sans-serif;
    font-size: .8rem;
    margin-top: 1.2rem;
  }
}
.node--full {
  margin-bottom: 10rem;
  .date-container {
    margin-bottom: 1rem;
    color: #a5a5a5;
    line-height: 1.2rem;
    font-size: .9rem;
  }
}

html {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  line-height: 2.3rem;
  font-weight: bold;
}
a {

  &:hover {
    text-decoration: none;
  }
}
.uk-tab > li > a {
  font-size: .8rem;
}
p,
.uk-navbar-nav > li > a {
  font-family: 'Quicksand', sans-serif;
}
p {
  line-height: 1.4rem;
}
.frontpage-view {
  margin: .5rem 0;
}
#block-uikit-local-tasks {
  margin: .5rem 0;
}
.image-container {
  margin-bottom: 1rem;
}
.uk-article-title {
  margin: 1.5rem 0;
  font-weight: bolder;
}
.uk-alert {
  margin: 1.5rem 0;
}
b {
  margin-bottom: .5rem;
}
.tags-container {
  margin-bottom: 1rem;
}
.tag-list {
  margin-top: .4rem;
}
.node--type-article {
  margin-bottom: 2rem;
  .node__meta {
    margin-bottom: 1rem;
  }
  .node__content {
    margin-bottom: 1rem;
  }
  .node__submitted {
    color: #a5a5a5;
    font-family: 'Quicksand', sans-serif;
    font-size: .8rem;
    margin-top: 1.2rem;
  }
  .node__content {
    h1 {

    }
  }
}
.view-taxonomy-term {
  margin: 2rem 0;
}
